@import './style.css';
@import './corvinus.scss';

$base-color: #033039;
$primary-color: #033039;
$background-color: #E9F3F5;


$base-font: "HKGrotesk", "Helvetica", "Arial";

@font-face {
  font-family: "HKGrotesk";
  src: url("../public/fonts/hkgroteskbold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("../public/fonts/hkgrotesklight.woff");
  font-weight: light;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("../public/fonts/hkgroteskregular.woff");
  font-weight: regular;
}

main {
    width: 100%;
    overflow-x:hidden;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: $base-color !important;
  font-family: $base-font !important;
  background: $background-color;
  overflow-x:hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font;
  color: $base-color;
}

iframe {
    width: 100%;
    border: 0;
}

.badge-dark {
  background-color: rgba(0,0,0,0.2);
}

a {
  color: $base-color;
}

.rounded {
  border-radius: 1.25rem !important;
}

.btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.navbar-light .navbar-toggler {
  border: none;
  color: #333 !important;
}

.navbar {
  opacity: 1;
  transition: visibility 0.3s linear, opacity 0.3s linear, background-color 0.2s linear ;
  background-color: $background-color;
}

.navbar-dark {
  background-color: $base-color;
}
.display-1, .display-2, .display-3, .display-4 {
  font-weight: inherit;
}

p {
  color: $base-color;
}

.top-0 {
  top: 0;
}

.content {
  position: absolute;
  top: 0;
}

section {
  background-color: $background-color;
}

.bg-light {
  background-color: $background-color !important;
}

.hero-header {
  background: $background-color;
  /* background: linear-gradient(180deg, #E9F3F5 0%, #E9F3F5 60%); */
}

.hero-phone-holder {
  max-height: 380px;
  padding-top: 16px;
}

.hero-phone {
  max-height: 760px;
  margin-top:-40px;
}

.raptor-logo {
  margin: auto auto;
  position: relative;
  top:16px;
  left: 0;
  right: 0;
}
.raptor-logo h1.display-3 {
  @include media-breakpoint-down(sm) {
    font-size: 3.8rem !important;
  }
}
.raptor-logo h1 {
  text-shadow: 0px 2px 15px #00000033;
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}
.raptor-logo-img {
  width: 255px;
  @include media-breakpoint-down(sm) {
    width: 155px;
    margin-top: -10px;
  }

}
.raptor-logo-top {
  width: 48px !important;
  height: 35px !important;
  margin-top: -3px;
  background-image: url("../public/images/raptorlogo.png"); 
  background-size: cover;
  float: left;
  object-fit: cover;
}
.navbar-dark .raptor-logo-top {
  background-image: url(../public/images/raptorlogowhite.png); 
}
.navbar.hidden {
  background-color: transparent;
}

.navbar-brand{
    opacity: 1;
    width: 142px;
    overflow: hidden;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.navbar-brand.hidden {
    width: 0px !important;
    opacity: 0;
}
.navbar-brand.hidden.dontHide {
    width: 142px !important;
    opacity: 1 !important;
}

@include media-breakpoint-down(sm) {
  html {
    font-size: 14px !important;
  }
}


.header {
  width: max-content;
  height: 420px;
  @include media-breakpoint-down(sm) {
    height: 340px;
  }
  position: absolute;
  -webkit-animation: pulse 120s linear infinite;
}
.blurred {

}
.blurred .headerApp {
  transform-origin: center;
  transform: scale(3);
  mix-blend-mode: multiply;
  opacity: .8;
  filter: blur(25px);
}

.headerApps {
  padding-top: 115px;
  padding-bottom: 300px;
  width: max-content;
  float: left;

}

@-webkit-keyframes pulse {
  0% {
    transform: translateX(0%);
  }
  99.999% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
 }
 
.headerApp {
  width:140px;
  @include media-breakpoint-down(sm) {
    width: 100px;
    margin-top:-40px;
  }
  float: left;
}

.neomorph {
  position: relative;
  display: inline-block;
  border-radius: 36px;
  background: $background-color;
  box-shadow: -5px 5px 10px #d9e2e4,
    5px -5px 10px #f5ffff;
  width: fit-content;
  height: fit-content;
}

.neomorph .centered {
  max-height: 60%;
  max-width: 60%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.square {
  width: 122px;
  height: 122px;
}

.companies {
  margin-top: 20px;
  margin-left: -3%;
  max-width: 1019px !important;
  width: 100%;
}

.charmander {
  position: absolute;
  right: -90px;
  bottom: 48%;
  width: 110px;
}

.macbook {
  margin: 6%;
  width: fit-content;
  height: fit-content;
  position: relative;
  display: inline-block;

  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.macbook img,
.macbook video {
  max-height: 600px;
  object-fit: cover;
}

.macbook:after {
  content: "";
  position: absolute;
  top: -7.4%;
  left: -16%;
  width: 205%;
  height: 144%;
  background-size: contain;
  background-image: url(../public/images/macbook.png);
  background-repeat: no-repeat;
}


.iphoneX {
  margin: 6%;
  width: fit-content;
  height: fit-content;
  position: relative;
  display: inline-block;

  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.iphoneX img,
.iphoneX video {
  max-height: 600px;
  border-radius: 20px;
}

.iphoneX:after {
  content: "";
  position: absolute;
  top: -8%;
  left: -49%;
  width: 166%;
  height: 125%;
  background-size: contain;
  background-image: url(../public/images/iphone_x.png);
  background-repeat: no-repeat;
}

.playButton {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  transform: translate(-50%, -50%);
  width: 40px;
  z-index: 2;
}

.playButton:hover {
  opacity: 1;
}

.iphoneX:not(.video):hover, .left-2:hover, .left-3:hover {
    //z-index: 99;
    transform: scale(1.05) translate(20%, -1%) rotate(1deg);
}


.click-disabled {
  pointer-events: none;
}

.left-1 {
  position: relative;
  left: 0%;
  width: 36%;
  top: 2%;
  z-index: 99;
}

.left-2 {
  position: absolute;
  left: 32%;
  width: 33%;
  top: 4%;
  z-index: 1;
}
.baby .left-2 {
  transform: rotate(-90deg); bottom: 15%; top: unset;
}

.baby .left-3 {
  transform: rotate(-100deg); bottom: 45%; left: 50%; top: unset;
}

.left-3 {
  position: absolute;
  left: 60%;
  width: 30%;
  top: 8%;
  z-index: 0;
}

.heartbit .left-1 {
  width: 44%;
}
.heartbit .left-2 {
  width: 41%;
}
.heartbit .left-3 {
  width: 38%;
}

.heartbit .device {
  position: absolute;
  bottom: 0;
  left: -50px;
  z-index: 99;
  width: 250px;
}

.left-2, .left-3 {

  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.work {
  min-height: 70vh;
}

.workWithUsLogo {
  position: absolute !important;
  
  bottom: -20px;
  right: 5%;
  width: 125px;
  z-index: 2;
}


.color {
  background-color: $base-color;
}

.color2 {
  background-color: $base-color;
}

.color h1,
.color h2,
.color h3,
.color h4,
.color h5,
.color h6,
.color p,
.color .btn-link {
  color: white;
}

::selection {
  background: $base-color;
  color: $background-color;
}
::-moz-selection {
  background: $base-color;
  color: $background-color;
}

.pull-right{
    transform:translate(100%, 0);
}
.pull-left{
    transform:translate(-100%, 0);
}



// Team
.team-img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  transition: transform 0.2s ease-in-out, opacity 0.2s linear;
  border: 5px solid #E9F3F5;
  box-shadow: -5px 5px 10px #d9e2e4, 5px -5px 10px #ffffff;
  margin-top: 32px;
}
.team-img:hover {
  transform: scale(1.5);
}
.card-header {
  background-color: #EEF7F8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.0) !important;
}



.collapsible-link {
  width: 100%;
  position: relative;
  text-align: left;
}

.collapsible-link svg {
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%) rotate(0deg);
  display: block;
  font-size: 1.1rem;
  transition: .3s transform;
}

.collapsible-link[aria-expanded='true'] svg {
  transform: translateY(-50%) rotate(180deg);
}


/* Small devices (landscape phones, 576px and up) */
@include media-breakpoint-down(sm) {

}

/* Medium devices (tablets, 768px and up) */
@include media-breakpoint-down(md) {

  .baby .left-2 {
    transform: rotate(-90deg); bottom: -15%; top: unset;
  }
  
  .baby .left-3 {
    transform: rotate(-100deg); bottom: 25%; left: 50%; top: unset;
  }
  .work {
    margin-bottom: 48px;
  }
  .pull-right{
      transform:translate(0, 0);
  }
  .pull-left{
      transform:translate(0, 0);
  }
  .left-1:not(.custom) {
    margin-top: 4%;
  }
  .heartbit .device {
    bottom: -50px;
    left: 0;
    right: 0;
    margin: auto;
  }
    
  .hero-phone-holder {
    height: 220px;
    padding-top: 0px;
  }
  .hero-phone {
    margin-top: 40px;
  }

  .hero-text {
    margin-top: -20%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .secondSection {
    margin-top: 0;
  }
}


/* Large devices (desktops, 992px and up) */
@include media-breakpoint-down(lg) {}

/* Extra large devices (large desktops, 1200px and up) */
@include media-breakpoint-down(xl) {}

/* Small devices (landscape phones, 576px and up) */
@include media-breakpoint-up(sm) {}

/* Medium devices (tablets, 768px and up) */
@include media-breakpoint-up(md) {}

/* Large devices (desktops, 992px and up) */
@include media-breakpoint-up(lg) {}

/* Extra large devices (large desktops, 1200px and up) */
@include media-breakpoint-up(xl) {}



.transparent { opacity: 0 }
.transparent-10 { opacity: .1 }
.transparent-30 { opacity: .3 }
.transparent-50 { opacity: .5 }
.transparent-80 { opacity: .8 }

.send-to-back { z-index: -1;}
.send-to-front { z-index: 999;}
.no-pointer-events { pointer-events: none;}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}